[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "This repository contains a Hashicorp Vault build with "
[access "refs/*"]
	owner = group user/sreenu51
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sreenu51
	label-Verified = -1..+1 group user/sreenu51
	push = group user/sreenu51
	read = group user/sreenu51
	rebase = group user/sreenu51
	removeReviewer = group user/sreenu51
	submit = group user/sreenu51
[access "refs/heads/*"]
	create = group user/sreenu51
	push = +force group user/sreenu51
	pushMerge = group user/sreenu51
	read = group user/sreenu51
[access "refs/tags/*"]
	push = group user/sreenu51
	push = +force group user/sreenu51
